<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fall2018.csc2017.gamecentre">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".App.GameChoiceActivity"/>
        <activity android:name=".games.slidingTile.SlidingTilesSettingsActivity" />
        <activity android:name=".games.slidingTile.SlidingTileStartingActivity" />
        <activity android:name=".games.slidingTile.SlidingTileActivity" />
        <activity android:name=".games.ticTacToe.TicTacToeStartingActivity"/>
        <activity android:name=".games.ticTacToe.TicTacToeSettingsActivity" />
        <activity android:name=".games.ticTacToe.TicTacToeActivity"/>
        <activity android:name=".games.ticTacToe.TicTacToeEndActivity"/>
        <activity android:name=".games.matchingCards.MatchingCardsActivity"/>
        <activity android:name=".games.matchingCards.MatchingCardsStartingActivity"/>
        <activity android:name=".games.matchingCards.MatchingCardsEndActivity"/>
        <activity android:name=".SavedGamesView"/>
        <activity android:name=".games.slidingTile.SlidingTileEndActivity"/>
    </application>

</manifest>